$login-font: 28px;

body {
  /* background: url("/images/login-background.jpg"); */
  height: 100vh;
  width: 100%;
}

/********** LOGIN SECTION **********/

.login-section {
  border: 10px solid blue;
  display: flex;
  flex-direction: column;
  height: 50vh;
  margin: 15%;
  padding: 10%;
  width: 50%;
}

.user-info {
  display: flex;
  height: 30%;
  flex-direction: column;
}

.error-message {
  color: red;
  font-size: $login-font;
  margin: 1%;
}

input {
  font-size: 28px;
  height: 30%;
  width: 90%;
}

label {
  font-size: 28px;
}

/********** MANAGER DASHBOARD **********/

.main_header {
  border-bottom: 5px solid black;
  height: 10vh;
  width: 100%;
}

.manager_dashboard {
  display: flex;
  height: 90vh;
  width: 100%;
}

.manager_dashboard-options {
  border-right: 5px solid black;
  height: 100vh;
  padding: 2%;
  width: 30%;
}

.hidden {
  display: none;
}

.form_manager-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rooms_section {
  padding: 1%;
  width: 70%;
}
